*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dcffb4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.navbar {
    background-color: #000000d2;
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    margin: 0 2vw;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
    margin-top: 2rem;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5)
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.cv-output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}



@media (max-width: 640px) {
    .container{
        background-color: #ffe600;
        width: 300px;
    }
}

@media only screen and (min-width: 641px) and ( max-width: 1024px) {
    .container{
        background-color: blue;
    }
}

@media (min-width: 1025px) and ( max-width: 1440px) {
    .container{
        background-color: red;
    }
}

@media (min-width: 1441px) {
    .container{
        background-color: red;
    }
}