*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("gradient-black-background-with-wavy-lines_52683-76100.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #ff0000d2;
    box-shadow: inset 0px -5px 20px rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 7vh;
    position: fixed;
    top: 0;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    background-color: #6b58be;
    padding: 20px;
    border-radius: 8px;
    width: 30rem;
    margin-top: 6rem;
    margin-bottom: 7rem;
    box-shadow: 0 0 30px rgba(255, 251, 20, 0.514);
}

.heading {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7abaff;
}

.cv_output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: aqua;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv_output h3{
    margin-bottom: 20px;
}

.educations{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.edu-sub{
    display: flex;
    align-items: center;
    gap: 12px;
}

.dynamic-edu{
    display: flex;
    gap: 15px;
    margin-bottom: 5px;
}
.edu1{
    margin-bottom: 50px;
    word-wrap: break-word;
}

.skill-boxes{
    display: flex;
    row-gap: 10px;
    column-gap: 50px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.check{
    display: flex;
    gap: 5px;
    white-space: nowrap;
}

.experience{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.exp-sub{
    display: flex;
    align-items: center;
    gap: 12px;
}

.exp-period{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 5px;
}

.center-label{
    text-align: center;
    margin-bottom: 25px;
    font-size: x-large;
}

.github{
    margin-bottom: 20px;
}

.dynamic-github{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    padding-left: 15px;
}
.dynamic-linkedin{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}



.division{
    height: 2px;
    width: 400px;
    margin: 20px 0px;
    background-color: #00000060;
}
.input-division{
    height: 2px;
    width: 100%;
    margin: 20px 0px;
    background-color: #00000060;
}




@media (max-width: 640px) {
    .container{
        width: 300px;
    }
    .edu-sub{
        display: flex;
        flex-direction: column;
    }
    .exp-sub{
        display: flex;
        flex-direction: column;
    }
}

/* @media only screen and (min-width: 1400px){
    .container{
        width: 40rem;
    }
} */


/* @media (min-width: 1025px) and ( max-width: 1440px) {
    
}

@media (min-width: 1441px) {
    
} */